<a href="https://colab.research.google.com/github/abiramiraji/infosys-project-tasks/blob/main/infosys_python_sql_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# oops in python

#Key Concepts of OOP

1 Class:

A class is like a blueprint or template. Imagine a blueprint for building houses. Each house built using the blueprint has the same structure but can have different colors or furniture.
For example, a "Car" class might define attributes like "brand" and "color" and behaviors like "drive" and "stop."

2 Object:

An object is an instance of a class. If the "Car" class is a blueprint, then a specific car, like a red Toyota, is an object created from that class.

# Core Principles of OOP
#1 Inheritance:

This allows one class to inherit the features of another class. Think of a "Bird" class with general features like "can fly" and "lays eggs." A "Parrot" class can inherit these features while adding unique ones, like "can mimic sounds."

Example: A "Dog" class can inherit from an "Animal" class, which has general behaviors like "eat" and "sleep." The "Dog" class might add specific behaviors like "bark."

#2 Encapsulation:

Encapsulation restricts direct access to some parts of an object and allows controlled interaction.

For example, a "Bank Account" object might hide its balance and only allow changes through deposit or withdrawal methods. This ensures security and prevents unauthorized changes.

#3 Polymorphism:

Polymorphism means "many forms." It allows the same method name to work differently based on the object. For example, the word "drive" could mean riding a car, steering a boat, or flying a plane, depending on the type of vehicle.

Example: If there’s a "make_sound" method, a "Dog" object may bark while a "Cat" object may meow, even though both are called the same way.

#4 Abstraction:

Abstraction focuses on what an object does rather than how it does it.

For example, when you press the "Start" button on a washing machine, you don’t need to know the internal workings. The details are hidden, and only the function is exposed.

#list,tuple,dict,set differences
#1. List
Definition: An ordered, mutable (modifiable) collection of elements.

Features:
Elements can be repeated.
Indexable and slicable.
Supports dynamic resizing (can grow or shrink).

Use Case: When you need an ordered, changeable collection of items, such as a list of student names.

#2. Tuple
Definition: An ordered, immutable (unchangeable) collection of elements.

Features:
Elements can be repeated.
Indexable and slicable, like lists.
Once created, elements cannot be added, removed, or changed.

Use Case: When you need a fixed collection of items, such as coordinates or configuration settings.

#3. Dictionary
Definition: An unordered collection of key-value pairs.

Features:
Keys must be unique and immutable (e.g., strings, numbers, tuples).
Values can be of any type and are mutable.
Fast lookups and updates by key.

Use Case: When you need to map relationships between keys and values, such as storing a phone book or JSON-like data.

#4. Set
Definition: An unordered, mutable collection of unique elements.

Features:
Duplicate elements are not allowed.
Supports mathematical set operations like union, intersection, and difference.
Unindexed, so elements cannot be accessed by position.

Use Case: When you need a collection of unique items, such as removing duplicates or performing set operations.

# list operations

In [ ]:
# creating a list

list1=["python",7.79,101,"hello"]
list2=["god",6.8,9]

In [ ]:
#list operations

#1.indexing
print(list1[0])

python

In [ ]:
#slicing
print(list1[0:2])

['python', 7.79]

In [ ]:
print(list1[1:])

[7.79, 101, 'hello']

In [ ]:
#concatenation
print(list1+list2)

['python', 7.79, 101, 'hello', 'god', 6.8, 9]

In [ ]:
#repetition
print(list1*2)

['python', 7.79, 101, 'hello', 'python', 7.79, 101, 'hello']

In [ ]:
#updating the list
list1[0]="java"
print(list1)

['java', 7.79, 101, 'hello']

In [ ]:
#inserting an element
list1.insert(2,"program")
print(list1)

['java', 7.79, 'program', 101, 'hello']

In [ ]:
#removing an element
list1.remove("hello")
print(list1)

['java', 7.79, 'program', 101]

# tuple operation

In [ ]:
#creating a tuple
t=("python",7.79,101,"hello")

In [ ]:
#tuple operations

#1.indexing
print(t[0])

python

In [ ]:
#slicing
print(t[0:2])

('python', 7.79)

In [ ]:
#concatenation
print(t+t)

('python', 7.79, 101, 'hello', 'python', 7.79, 101, 'hello')

#dictionary operations

In [ ]:
#Creating a Dictionaries:
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

In [ ]:
#Accessing values:

print(person["name"])  # Alice

Alice

In [ ]:
#Adding/Modifying Key-Value Pairs:
person["age"] = 31
person["country"] = "USA"
print(person)

{'name': 'Alice', 'age': 31, 'city': 'New York', 'country': 'USA'}

# sets operation

In [ ]:
#Operations on Sets:
#Creating a Set:
unique_numbers = {1, 2, 3, 4, 5}

In [ ]:
#Adding Elements:
unique_numbers.add(6)
print(unique_numbers)

{1, 2, 4, 5, 6}

In [ ]:
#Removing Elements:
unique_numbers.remove(5)
print(unique_numbers)

{1, 2, 4, 6}

# lambda function

The lambda function in programming, particularly in languages like Python, is used to create small, anonymous functions. It is often used for short, simple operations where defining a full function with a def statement would be unnecessary or cumbersome.

#example

Imagine you’re working at a bakery, and you occasionally need to measure ingredients (e.g., 2 spoons of sugar or 3 cups of flour). Instead of using a permanent measuring device, you grab a disposable spoon just for the task. Similarly, lambda functions are like those disposable tools — simple, quick, and designed for one-time use.

In [ ]:
#Simple Example:

square = lambda x: x ** 2
print(square(4))  # Output: 16

16

In [ ]:
#2. Multiple Arguments: Adding Two Numbers

sum_two = lambda x, y: x + y
print(sum_two(3, 7))  # Output: 10

10

In [ ]:
#3. Using lambda in map: Calculating Squares

numbers = [1, 2, 3, 4]
squares = map(lambda x: x ** 2, numbers)
print(list(squares))  # Output: [1, 4, 9, 16]

[1, 4, 9, 16]

In [ ]:
#4. Using lambda in filter: Finding Even Numbers

numbers = [1, 2, 3, 4, 5, 6]
even_numbers = filter(lambda x: x % 2 == 0, numbers)
print(list(even_numbers))  # Output: [2, 4, 6]

[2, 4, 6]

#Django

Django is a high-level Python web framework designed to help developers build robust and scalable web applications quickly and efficiently. It encourages clean, pragmatic design and provides a lot of built-in tools to simplify development.

#Core Concepts of Django

#1. MVC/MVT Architecture

Model-View-Template (MVT) is Django's architecture:
Model: Handles the database structure and data.
View: Contains the business logic and communicates with models to render data to templates.

Template: Handles the presentation layer (HTML, CSS, etc.).

#2. ORM (Object-Relational Mapping)
Django’s ORM allows developers to interact with the database using Python objects, rather than writing raw SQL queries.

#3. Django Admin
Automatically generated backend for managing database records, offering a quick way to perform CRUD operations.

#4. URL Routing
Django uses a URL dispatcher to map URLs to views, enabling clean and meaningful URLs.

#5. Middleware
Middleware is a framework of hooks for processing requests and responses, handling functionalities like authentication, session management, etc.


#When to Use Django
Ideal for projects that require rapid development, scalability, and a secure environment. Examples include e-commerce sites, social networks, and content management systems (CMS).

#pyspark

In [1]:
#Installing PySpark
#To install PySpark, use the following command:

!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
#Creating a Spark Session

from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder \
    .appName("PySparkExample") \
    .getOrCreate()

# Check Spark version
print("Spark version:", spark.version)

Spark version: 3.5.3

In [3]:
# Create an RDD from a Python list
data = [1, 2, 3, 4, 5]
rdd = spark.sparkContext.parallelize(data)

# Transformations and Actions
rdd_squared = rdd.map(lambda x: x ** 2)  # Transformation
print(rdd_squared.collect())  # Action: Output [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [4]:
#DataFrames
# Create a DataFrame from a list of tuples
data = [("Alice", 25), ("Bob", 30), ("Cathy", 28)]
columns = ["Name", "Age"]
df = spark.createDataFrame(data, schema=columns)

# Show the DataFrame
df.show()

# Perform Operations
df.filter(df.Age > 25).show()

+-----+---+
| Name|Age|
+-----+---+
|Alice| 25|
|  Bob| 30|
|Cathy| 28|
+-----+---+

+-----+---+
| Name|Age|
+-----+---+
|  Bob| 30|
|Cathy| 28|
+-----+---+

# sql basic

### 1. What is SQL, and why is it important in data analytics?

SQL (Structured Query Language) is a standard programming language designed for managing and manipulating relational databases. It allows users to retrieve, insert, update, and delete data stored in database tables.

**Importance in Data Analytics:**
- Enables efficient querying and analysis of large datasets.
- Provides tools for data aggregation, filtering, and sorting.
- Facilitates data cleaning and transformation.
- Serves as the foundation for creating dashboards and reports.
- Supports integration with various analytical tools.

---

### 2. Explain the difference between INNER JOIN, LEFT JOIN, RIGHT JOIN, and FULL OUTER JOIN.

- **INNER JOIN:** Returns rows that have matching values in both tables.
- **LEFT JOIN (LEFT OUTER JOIN):** Returns all rows from the left table and the matching rows from the right table. If no match exists, NULLs are returned for columns from the right table.
- **RIGHT JOIN (RIGHT OUTER JOIN):** Returns all rows from the right table and the matching rows from the left table. If no match exists, NULLs are returned for columns from the left table.
- **FULL OUTER JOIN:** Combines the results of both LEFT JOIN and RIGHT JOIN, returning all rows from both tables, with NULLs where there is no match.

---

### 3. What is the difference between WHERE and HAVING clauses?

- **WHERE Clause:** Filters rows based on specified conditions before grouping data.
- **HAVING Clause:** Filters groups of rows after they have been grouped using the `GROUP BY` clause. It's used for aggregate functions.

Example:
```sql
SELECT department, AVG(salary)
FROM employees
WHERE age > 30
GROUP BY department
HAVING AVG(salary) > 50000;
```

---

### 4. How do you use GROUP BY and HAVING in a query?

- **GROUP BY:** Groups rows with the same values in specified columns into summary rows.
- **HAVING:** Filters those summary rows based on aggregate functions.

Example:
```sql
SELECT department, COUNT(employee_id) AS total_employees
FROM employees
GROUP BY department
HAVING COUNT(employee_id) > 5;
```
This groups employees by department and shows only departments with more than 5 employees.

---

### 5. Write a query to find duplicate records in a table.

Assume the table is `users` with a column `email`:
```sql
SELECT email, COUNT(*)
FROM users
GROUP BY email
HAVING COUNT(*) > 1;
```

---

### 6. How do you retrieve unique values from a table using SQL?

Use the `DISTINCT` keyword:
```sql
SELECT DISTINCT column_name
FROM table_name;
```
Example:
```sql
SELECT DISTINCT city
FROM customers;
```
This retrieves unique cities from the `customers` table.

---

### 7. Explain the use of aggregate functions like COUNT(), SUM(), AVG(), MIN(), and MAX().

- **COUNT():** Returns the number of rows or non-NULL values in a column.
  ```sql
  SELECT COUNT(*) FROM orders;
  ```

- **SUM():** Calculates the total sum of numeric values in a column.
  ```sql
  SELECT SUM(price) FROM sales;
  ```

- **AVG():** Computes the average value of a numeric column.
  ```sql
  SELECT AVG(salary) FROM employees;
  ```

- **MIN():** Returns the smallest value in a column.
  ```sql
  SELECT MIN(salary) FROM employees;
  ```

- **MAX():** Returns the largest value in a column.
  ```sql
  SELECT MAX(salary) FROM employees;
  ```

---

### 8. What is the purpose of the DISTINCT keyword in SQL?

The `DISTINCT` keyword is used to eliminate duplicate rows from the result set and return only unique values.

Example:
```sql
SELECT DISTINCT department
FROM employees;
```
This retrieves a list of unique departments from the `employees` table.

# sql intermediate

### 1. Write a query to find the second-highest salary from an employee table.

Using a **subquery**:
```sql
SELECT MAX(salary) AS second_highest_salary
FROM employees
WHERE salary < (SELECT MAX(salary) FROM employees);
```
This query finds the highest salary (`MAX(salary)`) less than the overall maximum salary.

---

### 2. What are subqueries and how do you use them?

A **subquery** is a query nested within another query. It is used to fetch intermediate results that the outer query can utilize.

**Example:** Find employees who earn more than the average salary:
```sql
SELECT name
FROM employees
WHERE salary > (SELECT AVG(salary) FROM employees);
```

---

### 3. What is a Common Table Expression (CTE)? Give an example of when to use it.

A **Common Table Expression (CTE)** is a temporary result set that you can reference within a `SELECT`, `INSERT`, `UPDATE`, or `DELETE` statement. It simplifies complex queries by breaking them into readable blocks.

**Example:** Find departments with total salaries above a threshold:
```sql
WITH department_salaries AS (
    SELECT department_id, SUM(salary) AS total_salary
    FROM employees
    GROUP BY department_id
)
SELECT department_id
FROM department_salaries
WHERE total_salary > 50000;
```

---

### 4. Explain window functions like ROW_NUMBER(), RANK(), and DENSE_RANK().

- **ROW_NUMBER():** Assigns a unique rank to each row in the result set.
- **RANK():** Assigns a rank to rows, but rows with the same value get the same rank, and the next rank skips numbers.
- **DENSE_RANK():** Similar to `RANK()` but without gaps in ranking.

**Example:**
```sql
SELECT name, salary,
       ROW_NUMBER() OVER (ORDER BY salary DESC) AS row_number,
       RANK() OVER (ORDER BY salary DESC) AS rank,
       DENSE_RANK() OVER (ORDER BY salary DESC) AS dense_rank
FROM employees;
```

---

### 5. How do you combine results of two queries using UNION and UNION ALL?

- **UNION:** Combines results from two queries and removes duplicates.
- **UNION ALL:** Combines results but includes duplicates.

**Example:**
```sql
SELECT name FROM employees
UNION
SELECT name FROM contractors;

SELECT name FROM employees
UNION ALL
SELECT name FROM contractors;
```

---

### 6. What are indexes in SQL, and how do they improve query performance?

Indexes are database structures that improve query performance by allowing the database to locate rows more efficiently. They work like a table of contents in a book.

- **Improves:** Search, sorting, and joining operations.
- **Trade-off:** Increased storage and slower updates.

**Creating an index:**
```sql
CREATE INDEX idx_employee_name ON employees(name);
```

---

### 7. Write a query to calculate the total sales for each month using GROUP BY.

Assume a `sales` table with columns `sale_date` and `amount`:
```sql
SELECT DATE_FORMAT(sale_date, '%Y-%m') AS month,
       SUM(amount) AS total_sales
FROM sales
GROUP BY DATE_FORMAT(sale_date, '%Y-%m');
```

This groups sales by month and calculates the total sales for each month.

# sql advanced

### 1. How do you optimize a slow-running SQL query?

**Ways to optimize SQL queries:**
1. **Indexing:** Use appropriate indexes on frequently queried columns.
2. **Avoid SELECT *:** Specify only the required columns to reduce data load.
3. **Analyze Execution Plan:** Use tools like `EXPLAIN` or `EXPLAIN ANALYZE` to identify bottlenecks.
4. **Optimize Joins:** Ensure indexed columns are used in JOIN conditions, and avoid unnecessary joins.
5. **Use LIMIT for Large Data:** Limit the number of rows fetched if possible.
6. **Avoid Correlated Subqueries:** Replace them with joins or Common Table Expressions (CTEs) where applicable.
7. **Partitioning and Clustering:** Partition large tables to make queries more efficient.
8. **Cache Results:** Cache frequently used results to reduce repetitive calculations.

---

### 2. What are views in SQL, and when would you use them?

**Views** are virtual tables based on the result of a `SELECT` query. They do not store data but act as reusable, queryable entities.

**Use cases:**
- Simplify complex queries.
- Provide security by exposing only specific columns or rows.
- Abstract underlying database schema changes.
- Make reporting and analytics easier by predefining queries.

**Example:**
```sql
CREATE VIEW employee_salaries AS
SELECT name, department, salary
FROM employees
WHERE status = 'active';
```

---

### 3. What is the difference between a stored procedure and a function in SQL?

| **Aspect**           | **Stored Procedure**               | **Function**                          |
|-----------------------|-------------------------------------|---------------------------------------|
| **Purpose**           | Executes a series of operations.  | Returns a value or result set.        |
| **Return Type**       | May not return a value explicitly. | Always returns a value.               |
| **Use in Queries**    | Cannot be used in SQL statements.  | Can be used in SQL queries (e.g., `SELECT`). |
| **Parameters**        | Can have input, output, or both.   | Only input parameters.                |

**Example Stored Procedure:**
```sql
CREATE PROCEDURE IncreaseSalaries()
BEGIN
    UPDATE employees SET salary = salary * 1.1;
END;
```

**Example Function:**
```sql
CREATE FUNCTION CalculateBonus(salary DECIMAL) RETURNS DECIMAL
BEGIN
    RETURN salary * 0.1;
END;
```

---

### 4. Explain the difference between TRUNCATE, DELETE, and DROP commands.

- **TRUNCATE:** Deletes all rows from a table without logging individual row deletions. Faster but irreversible.
  ```sql
  TRUNCATE TABLE employees;
  ```

- **DELETE:** Deletes specific rows and logs each deletion. Can use `WHERE` for conditional deletions.
  ```sql
  DELETE FROM employees WHERE department = 'HR';
  ```

- **DROP:** Removes the table structure and data permanently.
  ```sql
  DROP TABLE employees;
  ```

---

### 5. What are windowing functions, and how are they used in analytics?

Windowing functions perform calculations across a set of rows related to the current row, providing aggregated results without collapsing rows.

**Examples:**
- **ROW_NUMBER():** Assigns a unique number to each row.
- **SUM():** Calculates a running total.
- **AVG():** Computes a moving average.

**Example Query:**
```sql
SELECT name, salary,
       SUM(salary) OVER (PARTITION BY department) AS total_department_salary
FROM employees;
```

---

### 6. How do you use PARTITION BY and ORDER BY in window functions?

- **PARTITION BY:** Divides the dataset into subsets (similar to `GROUP BY` but does not collapse rows).
- **ORDER BY:** Specifies the order of rows within each partition.

**Example:**
```sql
SELECT name, department, salary,
       ROW_NUMBER() OVER (PARTITION BY department ORDER BY salary DESC) AS rank
FROM employees;
```
This ranks employees within each department based on their salary.

---

### 7. How do you handle NULL values in SQL, and what functions help with that?

**Handling NULL values:**
- **COALESCE():** Replaces NULL with a specified value.
  ```sql
  SELECT name, COALESCE(salary, 0) AS salary FROM employees;
  ```

- **ISNULL():** Similar to `COALESCE()` but only supports two arguments (SQL Server).
  ```sql
  SELECT ISNULL(salary, 0) FROM employees;
  ```

- **NULLIF():** Returns NULL if two values are equal.
  ```sql
  SELECT NULLIF(salary, 0) FROM employees;
  ```

- **Filters for NULL:**
  ```sql
  SELECT * FROM employees WHERE salary IS NULL;
  SELECT * FROM employees WHERE salary IS NOT NULL;
  ```